body {
	margin: 0;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.calendar {
	width: 100%;
	margin-top: 10px;
}

.minimal-calendar {
	width: 300px;
	margin: 10px;
	border: 1px solid #cecece;
}

.customCalendarTitle {
	text-align: center;
	width: 300px;
}

.customCalendarTitle h1 {
	display: inline;
}